### `Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "May"]
list2 = ["y", "me", "s", "ank"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['May', 'ank']]
```

In [18]:
# Write code here
list1 = ["M", "na", "i", "May"]
list2 = ["y", "me", "s", "ank"]

new_list = []
[[i,j] for i,j in list(zip(list1,list2))]

[['M', 'y'], ['na', 'me'], ['i', 's'], ['May', 'ank']]

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [23]:
# Write code here

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

### `Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10, 20, 34, 74, 32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [26]:
# Write code here

candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10, 20, 34, 74, 32]

list = {i:j for i,j in list(zip(candy_list,no_of_items))}


for i in list:
    print(i,'-',list[i])

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

### `Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1, 2, 3, 4, 5, 6]
```
`Output:`
```
[1, 3, 6, 10, 15, 21]
```

In [29]:
# Write code here

list1 = [1, 2, 3, 4, 5, 6]

curr = 0
new_list = []
for i in list1:
    curr+=i
    new_list.append(curr)

print(new_list)

[1, 3, 6, 10, 15, 21]

### `Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,16,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [1]:
# Not completed yet



list1 = [2,4,6,10,1]
n = len(list1)
new_list = []

for i in range(n):

    curr = 0

for j in range(i + 1, n):
    if list1[i] > list1[j]:
        curr+=list1[j]

    curr+=list1[i]

new_list.append(curr)

print(new_list)

[0]

### `Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [36]:
# Write code here

num1 = set([23,45,67,78,89,34])
num2 = set([34,89,55,56,39,67])

c = num1.intersection(num2)

c = sorted(c)
c

[34, 67, 89]

### `Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']

```

In [39]:
# Write code here

### `Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['Numpy Pandas', 'is important', 'for machine-learning.']
```

Output:
```bash
['Numpy', 'Pandas', 'is', 'important', 'for', 'machine-learning.']

```

In [42]:
# Write code here
num = ['Numpy Pandas', 'is important', 'for machine-learning.']
result = []
for i in num:
    result.extend(i.split(' '))

print(result)

['Numpy', 'Pandas', 'is', 'important', 'for', 'machine-learning.']

### `Problem 9:` Convert Character Matrix to single String using list comprehension.

**Example 1:**

Input:
```bash
[['d', 'a', 't', 'a'], ['i', 's'], ['e', 'v', 'e', 'r', 'y', 'w', 'h', 'e', 'r', 'e']]
```

Output:
```bash
data is everywhere
```

In [45]:
# Write code here
list = [['d', 'a', 't', 'a'], ['i', 's'], ['e', 'v', 'e', 'r', 'y', 'w', 'h', 'e', 'r', 'e']]

result = ' '.join([''.join(i) for i in list])
result

'data is everywhere'

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['pythonIs', 'bestFor', 'dataScience']
```

Output:
```bash
['python Is', 'best For', 'data Science']
```

In [311]:
# Code here

list = ['pythonIs', 'bestFor', 'dataScience']
output = []

b = ' '.join(list)
space_word = []
for i in b:
    if i.isupper(): #and i > 0:
        space_word.append(',')
    space_word.append(i)
    #output.append(i
output.append(''.join(space_word))
print(output)

['python,Is best,For data,Science']

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [47]:
# Write code here
a = [1,2,3,4,5,1]
b = [2,3,5,7,8]
# new_list = []


for i in a:
    if i not in b:
        b.append(i)
b = sorted(b)
print(b)

[1, 2, 3, 4, 5, 7, 8]

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [53]:
# Write code here
list_f = [[1,2,3],[4,5,6],[7,8,9]]
max_nums = []
for i in list_f:
    max_num = i[0]
    for j in i:
        if j > max_num:
            max_num = j
    max_nums.append(max_num)
print(max_nums)

[3, 6, 9]

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [137]:
# Write code here
[[i for j in range(0,3)] for i in range(0,3)]

[[0, 0, 0], [1, 1, 1], [2, 2, 2]]

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [283]:
# Write code here

mtx = [[1,2,3],[4,5,6],[7,8,9]]

transpose = [[r[i] for r in mtx] for i in range(len(mtx[0]))]

for i in transpose:
    print(i)

[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [279]:
# Write code here

matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

new_list = [] 
for i in matrix:
    for j in i:
        new_list.append(j)

print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [281]:
new_lsit = []
[i for i in new_list]

[1, 2, 3, 4, 5, 6, 7, 8, 9]