### Start..............

In [38]:
import numpy as np
import pandas as pd 

ipl = pd.read_csv('C:/Users/bhamb/OneDrive/Desktop/batsman_runs_ipl_2.csv')
items = pd.read_csv("C:/Users/bhamb/OneDrive/Desktop/items.csv")

### `Q-1:` Write a program to create an empty series.

In [4]:
# code here

empty_series = pd.Series()
empty_series

Series([], dtype: object)

### `Q-2:` Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [6]:
# code here

Series_1 = pd.Series([1,2,3,5,6,7])
Series_2 = pd.Series([20,30,40,56,78,90])

print(Series_1)
print('-'*35)
print(Series_2)
print('-'*35)
print('Addition: \n',Series_1 + Series_2)
print('-'*35)
print('Subtraction: \n',Series_1 - Series_2)
print('-'*35)
print('Multiplication: \n',Series_1 * Series_2)
print('-'*35)
print('Division:\n',Series_1/Series_2)

0    1
1    2
2    3
3    5
4    6
5    7
dtype: int64
-----------------------------------
0    20
1    30
2    40
3    56
4    78
5    90
dtype: int64
-----------------------------------
Addition:
 0    21
1    32
2    43
3    61
4    84
5    97
dtype: int64
-----------------------------------
Subtraction:
 0   -19
1   -28
2   -37
3   -51
4   -72
5   -83
dtype: int64
-----------------------------------
Multiplication:
 0     20
1     60
2    120
3    280
4    468
5    630
dtype: int64
-----------------------------------
Division:
 0    0.050000
1    0.066667
2    0.075000
3    0.089286
4    0.076923
5    0.077778
dtype: float64

### `Q-3` Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [8]:
# code here

Series1 = [2, 4, 6, 8, 10]
Series2 = [1, 3, 5, 7, 10]

print(f'Series1: {Series1},Series2: {Series2}')

Compare = Series1 == Series2
Compare

Series1: [2, 4, 6, 8, 10],Series2: [1, 3, 5, 7, 10]

False

### `Q-4.`Write a function to change the data type of given a column or a Series. Function takes series and data type as input, returns the converted series.
```
series = pd.Series([1,2,'Python', 2.0, True, 100])
change to float type data
```
Note: Read about pd.to_numeric()

In [10]:
# code here
#series = pd.Series([1,2,'Python', 2.0, True, 100])

def Change_data_type(series):
    print(series)
    print('-'*25)
    conversion = pd.to_numeric(series, Errors = 'Coers') 
    return conversion

series = pd.Series([1,2,'Python', 2.0, True, 100])
Change_data_type(series)

0         1
1         2
2    Python
3       2.0
4      True
5       100
dtype: object
-------------------------

TypeError: to_numeric() got an unexpected keyword argument 'Errors'

### Question based on : batsman_runs_ipl.csv

Note: convert above dataframe to series using squeeze method.

### `Q-5` Find top 10 most run getter from the series.

In [ ]:
ipl = ipl.squeeze()
ipl

In [ ]:
# code here
ipl.groupby('batter')['batsman_run'].max(10).sort_values(ascending = False).head(10).index

### `Q-6` No of players having runs above 3000

In [ ]:
# code here

ipl[ipl['batsman_run'] > 3000].count().head(1)

### `Q-7` No of players having runs above mean value?

In [ ]:
# code here
ipl[(ipl['batsman_run']) > (ipl['batsman_run'].mean())].count().head(1)

### Questions based on: items.csv

### `Q-8`
    i. Read `items.csv` making `item_name` as index.
    ii. Show no of nan values
    ii. Item price is given in $, so convert it to rupees without currency symbol.
    iii. Make data type of newly made series as float.
    iv. Fill nan with mean of the series


How csv file looks

```
item_name	item_price
Chips and Fresh Tomato Salsa	$2.39
Izze	$3.39
Nantucket Nectar	$3.39
Chips and Tomatillo-Green Chili Salsa	$2.39
Chicken Bowl	$16.98

```

In [16]:
items.squeeze()

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

In [18]:
# code here
# i. Read `items.csv` making `item_name` as index. 
items = items.set_index('item_name')
items

                                      item_price
item_name
Chips and Fresh Tomato Salsa              $2.39
Izze                                      $3.39
Nantucket Nectar                          $3.39
Chips and Tomatillo-Green Chili Salsa     $2.39
Chicken Bowl                             $16.98
...                                          ...
Steak Burrito                            $11.75
Steak Burrito                            $11.75
Chicken Salad Bowl                       $11.25
Chicken Salad Bowl                        $8.75
Chicken Salad Bowl                        $8.75

[4622 rows x 1 columns]

In [20]:
# ii. Show no of nan values

items.isnull().sum()[0]

C:\Users\bhamb\AppData\Local\Temp\ipykernel_14600\2132342437.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  items.isnull().sum()[0]

50

In [42]:
# iii. Item price is given in $, so convert it to rupees without currency symbol.
items = items.dropna()

# code here
def curr(i):
    return float(i.split('$')[1])*83
    

items['INR price'] = items['item_price'].apply(curr)

items

                                  item_name item_price  INR price
0              Chips and Fresh Tomato Salsa     $2.39      198.37
1                                      Izze     $3.39      281.37
2                          Nantucket Nectar     $3.39      281.37
3     Chips and Tomatillo-Green Chili Salsa     $2.39      198.37
4                              Chicken Bowl    $16.98     1409.34
...                                     ...        ...        ...
4617                          Steak Burrito    $11.75      975.25
4618                          Steak Burrito    $11.75      975.25
4619                     Chicken Salad Bowl    $11.25      933.75
4620                     Chicken Salad Bowl     $8.75      726.25
4621                     Chicken Salad Bowl     $8.75      726.25

[4572 rows x 3 columns]

In [25]:
# iv. Make data type of newly made series as float.

float_series = pd.Series([10,20,30,40,50,60])
float_n_Series = float_series.astype(float)

mean_of_series = float_n_Series.mean()
mean_of_series

35.0

In [27]:
# iv. Fill nan with mean of the series

print(items.fillna(mean_of_series))


print(items.fillna(mean_of_series).isnull().sum())

                                      item_price
item_name
Chips and Fresh Tomato Salsa              $2.39
Izze                                      $3.39
Nantucket Nectar                          $3.39
Chips and Tomatillo-Green Chili Salsa     $2.39
Chicken Bowl                             $16.98
...                                          ...
Steak Burrito                            $11.75
Steak Burrito                            $11.75
Chicken Salad Bowl                       $11.25
Chicken Salad Bowl                        $8.75
Chicken Salad Bowl                        $8.75

[4622 rows x 1 columns]
item_price    0
dtype: int64

### `Q-9`:
    i. Find mean price
    ii. Find 30th and 6th percentile value
    iii. Plot Histogram on price with bin size 50
    iv. No of items price lies between [1000 to 2000]

#### i. Find mean price

In [29]:
# code here

def curr(i):
    return float(i.split('$')[1])

items['item_price_num'] = items['item_price'].apply(curr)
print(f"Mean price is {items['item_price_num'].mean()}")

AttributeError: 'float' object has no attribute 'split'

#### ii. Find 30th and 6th percentile value

In [31]:
# code here

print(f"The 30th percentile value is {items['item_price_num'].quantile(0.3)} %tile")

print(f"The 6th percentile value is {items['item_price_num'].quantile(0.06)} %tile")

KeyError: 'item_price_num'

### iii. Plot Histogram on price with bin size 50

In [34]:
# code here 

items.head(50).plot(kind = 'hist', title = 'ITEMS PLOT')

TypeError: no numeric data to plot

#### iv. No of items price lies between [1000 to 2000]

In [36]:
items[(items['INR price'] >= 1000) & (items['INR price'] < 2000)].count()[0]

KeyError: 'INR price'

### --------------------------------------------------------- END ----------------------------------------------------------