# Tuple

### `Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [83]:
# write your code here
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]

results = {}

for i in test_list:
    key = i[0]
    if key in results:
        results[key].extend(i[1:])
    else:
        results[key] = list(i)

output = [tuple(results[key]) for key in results]

output

[(5, 6, 7, 8), (6, 10), (7, 13)]

### `Q2:` Multiply Adjacent elements (both side) and take sum of right and left side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*8+7*5, 8*10+8*7, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [191]:
# write your code here


test_tuple = (1, 5, 7, 8, 10)

res = tuple(i*j + j*(i+1) for i,j in zip(test_tuple,test_tuple[1:]))

print(res)

(15, 77, 120, 170)

### `Q3`: Check if tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [9]:
# write your code here
t1 = (1,2,3,0)
t2 = (0,1,2,3)

if t1 != t2:
    print('t1 and t2 are not same')
else:
    print('t1 and t2 are same  ')

t1 and t2 are not same

### `Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Teknowell', 'EduTech'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [27]:
# write your code here
list1 = [{'hi', 'bye'},{'Teknowell', 'EduTech'},('a', 'b'),['hi', 'bye'],['a', 'b']]

#set = []
for i in list1:
    print(i, ':',type(i))
# Incomplete

{'bye', 'hi'} : <class 'set'>
{'EduTech', 'Teknowell'} : <class 'set'>
('a', 'b') : <class 'tuple'>
['hi', 'bye'] : <class 'list'>
['a', 'b'] : <class 'list'>

### `Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [31]:
No_of_rec = int(input('Enter No. of records: '))

for i in range(No_of_rec):
    Details_of_stu,Name,Higher_Edu,Primary_skill,Year_of_edu  = (input('Enter Details of student: '),
                                                                          input('Enter Student name: '),input('Enter Higher Graduation: '),
                                                                          input('Enter Primary Skill: '),input('Enter Year of Graduation: '))
print('Enter Job Role Requirement')

Enter_skill = input('Enter Skill: ')
Enter_high_edu = input('Enter Higher Education: ')
Enter_yr_of_edu = input('Enter Year of Graduation: ')

if Primary_skill == Enter_skill and Higher_Edu == Enter_high_edu and Year_of_edu == Enter_yr_of_edu:
    print((Name,Higher_Edu,Primary_skill,Year_of_edu))
else:
    print('No Such Candidate')

Enter No. of records:  1
Enter Details of student:  d
Enter Student name:  sd
Enter Higher Graduation:  sd
Enter Primary Skill:  d
Enter Year of Graduation:  sad

Enter Job Role Requirement

Enter Skill:  sd
Enter Higher Education:  sd
Enter Year of Graduation:  asd

No Such Candidate

# Set

### `Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [103]:
# write your code here

def common_elem(a,b,c):
    #d = []
    arr1 = set(a)
    arr2 = set(b)
    arr3 = set(b)

    common = arr1.intersection(arr2,arr3)
    d = list(common)
    return d
       
a = [1, 5, 10, 20, 40, 80]
b = [6, 7, 20, 80, 100]
c = [3, 4, 15, 20, 30, 70, 80, 120]
common_elem(a,b,c)

[80, 20]

### `Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science progrAm with practicals at affordable fee only with teknowell edutech"
```
`Output:`
```
No of unique vowels-6
```

In [115]:
# write your code here
input_str = "hands-on data science progrAm with practicals at affordable fee only with teknowell edutech"

vowels = {'a','e','i','o','u','A','E','I','O','U'}

unique_vowels = set()

for char in input_str:
    if char in vowels:
        unique_vowels.add(char)
print('No. of unique vowels -',len(unique_vowels))

No. of unique vowels - 6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Teknowell"
Output: No
```

In [131]:
# write your code here
No_of_args = int(input('Enter the number of rec: '))
for i in range(No_of_args):
    input_str = input('Enter the str: ')


unique_chars = set(input_str)

if len(unique_chars) == 2 and ('0' in unique_chars and '1' in unique_chars):
    print('Yes')
else:
    print('No')

Enter the number of rec:  2
Enter the str:  1001101101
Enter the str:  Tecknowell

No

In [151]:
def binary_str(input_str):
    unique_char = set(input_str)

    if len(unique_char) == 2 and ('0' in unique_char and '1' in unique_char or '2' in unique_char):
        return True
    else:
        return False

input = [
    '01010101010',
    '1222211',
    'Teknowell'
]

for input_str in input:
    if binary_str(input_str):
        print(f'Input: {input_str} = Yes')
    else:
        print(f'Input : {input_str} = No')

Input: 01010101010 = Yes
Input: 1222211 = Yes
Input : Teknowell = No

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [19]:
# write your code here

list1 = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

union_set = set()
for i in list1:
    set1 = set(i)
    union_set.update(set1)

print(sorted(union_set))

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```
[9, 10, 4, 5]
```

**Example 2:**

Input:
```
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```
[9, 11, 26, 28]
```

In [33]:
# write your code here

lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

[{i,j} for i,j in zip((lst1.intersection(lst2)),lst2.intersection(lst1))]

# Not Completed yet

[{9}, {10}, {4}, {5}]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```
test_dict = {"Teknowell" : [5, 7, 9, 4, 0], "EduTech" : [6, 7, 4, 3, 3], "Chinchwad" : [9, 9, 6, 5, 5]}
```

Output:
```
Teknowell
```

**Example 2:**

Input:
```
test_dict = {"Teknowell" : [5, 7, 7, 7, 7], "EduTech" : [6, 7, 7, 7], "Chinchwad" : [9, 9, 6, 5, 5]}
```

Output:
```
Chinchwad
```

In [81]:
# write your code here
test_dict = {"Teknowell" : [5, 7, 9, 4, 0], "EduTech" : [6, 7, 4, 3, 3], "Chinchwad" : [9, 9, 6, 5, 5]}

unique_count = {i:len(set(j)) for i,j in test_dict.items()}

result = max(unique_count, key = unique_count.get)

print('Output:',result)

Output: Teknowell

### `Q2`: Replace words from Dictionary. Given String, replace it’s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'NumPy Pandas is for DS students.'
repl_dict = {"is" : "is important", "DS" : "Data-Science"}
```

Output:

```
NumPy Pandas is important for Data-Science students.
```

**Example 2:**

Input:
```
test_str = 'NumPy Pandas is for DS students.'
repl_dict = {"good" : "the best", "ds" : "Data-Science"}
```

Output:
```
NumPy Pandas is for DS students.
```

In [127]:
# write your code here

# Example 1 :-
test_str = 'NumPy Pandas is for DS students.'
repl_dict = {"is" : "is important", "DS" : "Data-Science"}

test_list = test_str.split()
test_list[2] = repl_dict['is']
test_list[-2] = repl_dict['DS']
final_1 = ' '.join(test_list)

# Example 2 :- 


test_str2 = 'NumPy Pandas is for DS students.'
repl_dict2 = {"good" : "the best", "ds" : "Data-Science"}

test_list2 = test_str2.split()
test_list2[2] = repl_dict2['good']
test_list2[-2] = repl_dict2['ds']
final_2 = ' '.join(test_list2)

print('Output1:',final_1)
print('Output2:',final_2)

Output1: NumPy Pandas is important for Data-Science students.
Output2: NumPy Pandas the best for Data-Science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]

```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["Mayank", 10]
key_list = ["name", "id"]

```

Output:

```bash
[{'name': 'Mayank', 'id': 10}]
```

In [147]:
# write your code here

# Example 1

test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]

a = [{i:j for i,j in zip(key_list,test_list)}]

# Example 2

test_list = ["Mayank", 10]
key_list = ["name", "id"]

b = [{i:j for i,j in zip(key_list,test_list)}]

print("Output 1:",a)
print('Output 2:',b)

Output 1: [{'name': 'DataScience', 'id': 3}]
Output 2: [{'name': 'Mayank', 'id': 10}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [199]:
# write your code here
# Example 1:-
list1 = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
a = {i:[j] for i,j in list1}

# Example 2:-

list2 = [('A', 1), ('B', 2), ('C', 3)]
b = {i:[j] for i,j in list2}

print(f'Output1: {a}')

print(f'Output2: {b}')

Output1: {'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
Output2: {'A': [1], 'B': [2], 'C': [3]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```
{'c': [10, 34, 3]}
```

Output:

```
{'c': [3, 10, 34]}
```

In [276]:
# write your code here

dict1 = {'c': [3], 'b': [12, 10], 'a': [19, 4]}

a = {i:j for i,j in sorted(dict1.items())}
print(a)
dict2 = {'c': [10, 34, 3]}

b = {i:j for i,j in sorted(dict2.items())}
print(b)

{'a': [19, 4], 'b': [12, 10], 'c': [3]}
{'c': [10, 34, 3]}